# -------------------------------
# 🛠️  Project configuration files
# -------------------------------
.idea/
.ipynb_checkpoints/

# -------------------------------
# 🐍  Python cache files
# -------------------------------
__pycache__/

# -------------------------------
# 📁  Directories to ignore
# -------------------------------
OID/
datasets/
runs/

# -------------------------------
# 📦  File types to ignore
# -------------------------------
*.pt
*.zip

# -------------------------------
# ✅  Exceptions (tracked files)
# -------------------------------
!data/3_neural_networks/pre-trained-classifier/weights/best.pt
!data/3_neural_networks/pre-trained-classifier/weights/last.pt
!yolo11n.pt
